Checks: >
    -*,
    bugprone-*,
    cert-*,
    -cert-err58-cpp,
    cppcoreguidlines-*,
    modernize-*,
    misc-*,
    misc-assert-side-effect,
    misc-dangling-handle,
    misc-forwarding-reference-overload,
    misc-move-constructor-init,
    misc-move-forwarding-reference,
    misc-multiple-statement-macro,
    misc-non-copyable-objects,
    misc-use-after-move,
    misc-virtual-near-miss,
    performance-*
WarningsAsErrors: '*'
HeaderFilterRegex: '.*src.*'
FormatStyle: file
CheckOptions:
  - key: bugprone-assert-side-effect.CheckFunctionCalls
    value: 1
  - key: bugprone-assert-side-effect.AssertMacros
    value: ''
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 1
